<table class="dogs" id='dogs' border="2">
  <caption>G School Dogs</caption>
  <tr>
    <th id="owner">Owner</th>
    <th id="dog-name">Dog Name</th>
    <th id="favorite-food">Favorite Food</th>
    <th id="favorite-toy">Favorite Toy</th>
  </tr>
</table>


